import * as React from 'react';
import './MainPage.css';

class MainPage extends React.Component {
   
    public render() {
        return (
            <div>
                <p className="text">
                    Put main page content here
                </p>
            </div>
        )
    }
}

export default MainPage;
