import * as React from 'react';
import { BrowserRouter } from 'react-router-dom';
import Routes from '../../routing/Router';
import './App.css';

class App extends React.Component {
  public render() {
    return (
      <BrowserRouter >
        <div>
          <div className="header">
              put some header here.
              Graphic design is my passion
          </div>
          <Routes />
        </div>
      </BrowserRouter>
    );
  }
}

export default App;
