import * as React from 'react';
import './TestPage.css';

class TestPage extends React.Component {
    public render() {
        return (
            <div>
                <p className="text">
                    I am a test page.
                </p>
            </div>
        )
    }
}

export default TestPage;
