import * as React from 'react';
import './{{Params.Entity.Name}}List.css';

class {{Params.Entity.Name}}List extends React.Component {
    public render() {
        return (
            <div>
                <p className="text">
                    I am a list for {{Params.Entity.PluralName}}.
                </p>
            </div>
        )
    }
}

export default {{Params.Entity.Name}}List;
