import * as React from 'react';
import './{{Params.Entity.Name}}Form.css';

class {{Params.Entity.Name}}Form extends React.Component<any,{}> {
    public render() {
        return (
            <div>
                <p className="text">
                    I am a form for {{Params.Entity.PluralName}} with id: {this.props.match.params.id}.
                </p>
            </div>
        )
    }
}

export default {{Params.Entity.Name}}Form;
