import { Button } from "@material-ui/core";
import DeleteIcon from '@material-ui/icons/Delete';
import KeyboardArrowLeftIcon from '@material-ui/icons/KeyboardArrowLeft';
import EditIcon from '@material-ui/icons/Edit';
import * as React from 'react';

interface ITableToolbarProps {
    showDelete: boolean,
    showEdit: boolean,
    onDeleteClick: () => void
    onEditClick: () => void
    onBackClick: () => void
};

const PageButtons = (props: ITableToolbarProps) => {
    return (
	{%- raw -%}
        <div style={{textAlign: "right"}}>
            <Button variant="contained" color="primary" onClick={props.onBackClick} style={{marginTop: "10px"}}>
                Back
                <KeyboardArrowLeftIcon/>
            </Button>
	{%- endraw -%}
            {props.showEdit ?
                (
				{%- raw -%}
                    <Button variant="contained" color="primary" onClick={props.onEditClick} style={{marginLeft: "10px", marginTop: "10px"}}>
                        Edit
            			<EditIcon />
                    </Button>
				{%- endraw -%}
                )
                : ""
            }
            {props.showDelete ?
                (
				{%- raw -%}
                    <Button variant="contained" color="secondary" onClick={props.onDeleteClick} style={{marginLeft: "10px", marginTop: "10px"}}>
                        Delete
            		    <DeleteIcon />
                    </Button>
				{%- endraw -%}
                )
                : ""
            }
        </div>
    );
}

export default PageButtons;